Repository inspec/train, pull requests merged in 2018-08, with the labels that each got.

#324 Pulls file credentials parsing out of Azure class
  lib/train/transports/azure.rb
  lib/train/transports/helpers/azure/file_credentials.rb
  lib/train/transports/helpers/azure/file_parser.rb
  lib/train/transports/helpers/azure/subscription_id_file_parser.rb
  lib/train/transports/helpers/azure/subscription_number_file_parser.rb
  test/unit/transports/azure_test.rb
  test/unit/transports/helpers/azure/file_credentials_test.rb
Labels: enhancement

#337 Fixes an issue where the credential file was nil
  lib/train/transports/helpers/azure/file_credentials.rb
  test/unit/transports/helpers/azure/file_credentials_test.rb
Labels: Transport: Azure, Type: Bug

#335 Enable using rubygems as plugins
  .rubocop.yml
  Gemfile
  lib/train.rb
  lib/train/errors.rb
  lib/train/platforms/detect/helpers/os_common.rb
  lib/train/plugins/base_connection.rb
  lib/train/transports/aws.rb
  lib/train/transports/azure.rb
  lib/train/transports/gcp.rb
  lib/train/transports/vmware.rb
  test/fixtures/gempath/gems/train-gem-fixture-0.1.0/README.md
  test/fixtures/gempath/gems/train-gem-fixture-0.1.0/lib/train-gem-fixture.rb
  test/fixtures/gempath/gems/train-gem-fixture-0.1.0/lib/train-gem-fixture/transport.rb
  test/fixtures/gempath/gems/train-gem-fixture-0.1.0/lib/train-gem-fixture/version.rb
  test/fixtures/gempath/gems/train-gem-fixture-0.1.0/train-gem-fixture.gemspec
  test/unit/platforms/detect/uuid_test.rb
  test/unit/plugins/connection_test.rb
  test/unit/train_test.rb
Labels: Aspect: Packaging, Component: Plugin API, Type: New Feature
