Repository inspec/train, pull requests merged in 2019-08, with the labels that each got.

#504 expeditor: allow major version bump; add 2-stable
  .expeditor/config.yml
Labels: Aspect/Packaging, Expeditor/Skip All

#448 Remove WinRM support in favor of train-winrm plugin
  lib/train/platforms/detect/helpers/os_common.rb
  lib/train/transports/winrm.rb
  lib/train/transports/winrm_connection.rb
  test/unit/platforms/detect/os_common_test.rb
  test/unit/transports/winrm_connection_test.rb
  test/unit/transports/winrm_test.rb
  test/windows/local_test.rb
  test/windows/winrm_test.rb
  train-core.gemspec
  train.gemspec
Labels: Component/Plugin API, Expeditor/Bump Major Version, Transport/WinRM, Type: Deprecation

#505 Use /etc/os-release for SUSE detection (Adopted)
  lib/train/platforms/detect/specifications/os.rb
  test/unit/platforms/os_detect_test.rb
Labels: Component/Platform Detection, Platform/UNIX-Like, Type: Bug

#508 Fix raise invalid arguments
  lib/train/extras/command_wrapper.rb
Labels: Type: Bug
