Repository inspec/train, pull requests merged in 2019-03, with the labels that each got.

#361 Fix detection of 'SLES Expanded Support' of Red Hat
  lib/train/platforms/detect/helpers/os_linux.rb
  test/unit/platforms/os_detect_test.rb
Labels: Component: Platform Detection, Platform: Unix-like, Type: Bug

#429 Update Expeditor on 1-stable to use v2 as master
  .expeditor/config.yml
Labels: Aspect: Packaging, Aspect: Testing, Changelog: Skip Update, Version: Skip Bump

#428 Update Expeditor on master to use v2 as master
  .expeditor/config.yml
Labels: Aspect: Packaging, Aspect: Testing, Changelog: Skip Update, Version: Skip Bump

#427 [SUSTAIN-955] Provide ssh option to enable host key verify
  lib/train/transports/ssh.rb
  test/unit/transports/ssh_test.rb
Labels: Transport/SSH, Type/Enhancement

#431 [SUSTAIN-955] Add data callbacks to WinRM and SSH (adopted)
  lib/train/plugins/base_connection.rb
  lib/train/transports/cisco_ios_connection.rb
  lib/train/transports/docker.rb
  lib/train/transports/local.rb
  lib/train/transports/mock.rb
  lib/train/transports/ssh_connection.rb
  lib/train/transports/vmware.rb
  lib/train/transports/winrm_connection.rb
  test/unit/transports/ssh_connection_test.rb
  test/unit/transports/winrm_connection_test.rb
Labels: Aspect/Integration, Component/Connection API, Transport/SSH, Transport/WinRM
