Repository inspec/train, pull requests merged in 2020-01, with the labels that each got.

#552 Add azure_mgmt_storage to train.gemspec
  train.gemspec
Labels: Platform: Azure, Type: New Feature

#558 Yocto Project family and Yocto Linux and balenaOS platform detection
  lib/train/platforms/detect/specifications/os.rb
  test/unit/platforms/os_detect_test.rb
Labels: Component: Platform Detection, Platform: UNIX-Like, Type: New Feature

#556 Kali Linux platform detection support
  lib/train/platforms/detect/specifications/os.rb
  test/unit/platforms/os_detect_test.rb
Labels: Component: Platform Detection, Platform: UNIX-Like, Type: New Feature

#563 Unified gemspec and fixed dependencies across train and train-core.
  Gemfile
  train-core.gemspec
  train.gemspec
Labels: Aspect: Packaging
