Repository inspec/train, pull requests merged in 2021-04, with the labels that each got.

#674 Support Docker for Windows
  README.md
  lib/train/transports/docker.rb
Labels: Expeditor: Bump Minor Version, Platform: Docker, Platform: Windows

#676 Fix SSH Timeout PTY allocation
  lib/train/transports/ssh_connection.rb
Labels: Platform: SSH, Type: Bug

#679 Switch to GNU timeout-based implementation of SSH timeouts
  lib/train/transports/ssh_connection.rb
Labels: Platform: SSH, Type: Bug

#659 Read the username and port from /.ssh/config file and replace if present
  lib/train/options.rb
  lib/train/transports/ssh.rb
Labels: Expeditor: Bump Minor Version, Platform: SSH
